<html>
<body>
<form action= "{{url_for('editMenuItem', restaurant_id = restaurant_id, menu_id=item.id)}}" method = 'POST'>

<p>Name:</p>
<input type = 'text' size='30' name = 'name' placeholder = '{{item.name}}' required>
<p>Description:</p>
<input type="text" name="description" placeholder="{{item.description}}" required>
<p>Price:</p>
<input type ="text" class="form-control" maxlength="10" name="price" placeholder="{{item.price}}" required>
<p></p>
<label for="course">Course:</label>
<div class="radio">
  <label>
    <input type="radio" name="course" id="course1" value="Appetizer" required>Appetizer
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="course" id="course2" value="Entree">Entree
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="course" id="course3" value="Dessert">Dessert
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="course" id="course4" value="Beverage">Beverage
  </label>
</div>
<input type='submit' value='Edit'>
</form>
<a href= '{{url_for('showMenu', restaurant_id= item.restaurant_id)}}'>Cancel</a>
</body>
</html>
